@charset "utf-8";
/* CSS Document */

body{
    font-size: 16px;
	text-shadow: 0 0 .1px;
	backgound: linear-gradient(rgba(214,214,214,0),rgba(214,214,214,1)) repeat-x;
	}

a:link{
	color: #0094DE;
	text-decoration: none;
	}
a:visited{
	color: #0094DE;
	}
a:hover{
	text-decoration: underline;
	}

input{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	}
input[type=submit]{
	color: #FFF; background-color: #0094DE; padding-left: 6px; padding-right: 6px; padding-top: 3px; padding-bottom: 3px;
	}
	
textarea{
	resize: none;
	}

.header{
	padding: 30px;
	background: linear-gradient(rgba(0,172,236,.8),rgba(0,172,236,.7),rgba(0,172,236,.8)) repeat-x;
	color: #FFF;
	font-family: "Lucida Console", Monaco, monospace;
	}
.footer{
	color: #FFF;
	font-family: "Lucida Console", Monaco, monospace;
	padding: 5px;
	background: linear-gradient(rgba(0,172,236,.8),rgba(0,172,236,1)) repeat-x;
	border-top: solid 4px rgba(194,194,194,1);
	position: relative;
	clear: both;
	}